
.sunday{
    background: white;
    min-width: 200px;
    min-height: 40px;
    border: solid;
    border-right: solid;
}

 .week {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 }