:root {
    --Sky: #75B149;
    --Sunglow: #D9b44a;
    --Mountains: #4f6457;
    --Mist: #acd0c0;
}


.sunday{
    background: white;
    min-width: 130px;
    min-height: 80px;
    max-height: 110px;
    border: solid;
    border-right: solid;
    color: black;
    overflow: scroll;
}

 .week {
     display: grid;
     grid-template-columns: repeat(7, 150px);
     padding-right: 100px;
     min-height: 30px;
     color: var(--Sunglow);
     
 }

.fade {
    padding: 70px 0;
    text-align: center;
    display: inline-block;
    /* font-family: 'Montserrat'; */
    font-size: 30px;
    color: black;
    text-transform: none;
    margin: 0 20px;
    opacity: 0.0;
    animation: fadeIn ease 10s;
    /* -webkit-animation: fadeIn ease 4s; */
    }
    
    @keyframes fadeIn {
        0%,100% { opacity: 0; }
        50% { opacity: 1; }
    }

    .body {
        color: black;
        background-color: var(--Mist);
        height: 100vh;
        font-family: fantasy;
    }
    
    .inputs {
        text-align: center;
        padding: 200px 0;
        font-size: 55px;
    }

    .entry {
        width: 40vw;
        height: 25px;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid var(--Sunglow);
        color: var(--Mountains);
        font-size: 3vh;
        font-weight: 400;
    }
    .entry:focus{
        outline: none;
        background-color: var(--Mountains);
        border-color: var(--Mountains);
        height: 55px;
        transition: all 2.5s;
        color: white;
    }
   
    

    @keyframes grow {
        from {height: 25px;}
        to {height: 80px;}
    }

    .entrybutton {
        min-height: 8vh;
        width: 35vw;
        background-color: var(--Sunglow);
        border: 2px solid var(--Sunglow);
        border-radius: 25px;
        color: var(--Mountains);
        font-size: 4vh;
    }

    .toggle {
        position: absolute;
        border-radius: 25px;
        background-color: var(--Sunglow);
        color: var(--Mountains);
        font-size: 4vh;
        top: 15vh;
    }

    .calendartop {
        padding-top: 5%;
        padding-left: 100px;
        /* padding-right: 100px; */
    }