.month {
    font-size: 40px;
    background: skyblue;    
 }

 .monday {
     background: green;
     display: grid;
 }
 .tuesday {
     background: white;
 }
 .wednesday {
     background: green
 }
 .thursday {
    background: white;
}
.friday{
    background: green;
}
.saturday{
    background: white;
}
.sunday{
    background: green;
}

 .week {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     
 }